<section class="text-center">
  <div class="contenedor-login">
    <form [formGroup]="formLog" class="form" (ngSubmit)="onSubmit()">
      <h2 class="login-title">Iniciar Sesión</h2>
      <div class="mb-3">
        <label for="email_usr" class="form-label">Correo Electrónico</label>
        <input [ngClass]="{
          'is-invalid': hasErrors('email_usr', 'required') || hasErrors('email_usr', 'email')
        }" type="email" class="form-control" id="email_usr" placeholder="Correo Electrónico" formControlName="email_usr" />
        <div class="text-danger" *ngIf="hasErrors('email_usr', 'email')">Email formato inválido.</div>
        <div class="text-danger" *ngIf="hasErrors('email_usr', 'required')">Campo requerido.</div>
      </div>
      <div class="mb-3">
        <label for="passwd_usr" class="form-label">Contraseña</label>
        <input [ngClass]="{
          'is-invalid': hasErrors('passwd_usr', 'required') || hasErrors('passwd_usr', 'minlength')
        }" type="password" class="form-control" id="passwd_usr" placeholder="Contraseña" formControlName="passwd_usr"/>
        <div class="text-danger" *ngIf="hasErrors('passwd_usr', 'required')">Campo requerido.</div>
        <div class="text-danger" *ngIf="hasErrors('passwd_usr', 'minlength')">La Contraseña debe tener mínimo 6 caracteres.</div>
      </div>
      <button type="submit" class="btn btn-primary py-2">Iniciar Sesión</button>
      <p class="my-2" id="#">
        <a routerLink="/enviar-correo-recuperacion" id="#">¿Olvidó su contraseña?</a>
      </p>
      <button routerLink="/registro" class="btn btn-danger" type="button" data-bs-dismiss="modal">Registrarse</button>
    </form>
  </div>
  </section>
