<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="./assets/img/iglesia.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="./assets/img/dolores.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="./assets/img/nieves.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<main class="main">
  <section>
    <h1 class="title">Dolores Hidalgo C.I.N.</h1>
    <p class="text">
      Este Pueblo Mágico es Patrimonio Histórico y cuna de la Independencia;
      preserva secretos, como la Catedral, testigo silencioso que guarda entre
      sus muros, el sonido de la voz del cura Miguel Hidalgo cuando dio el grito
      de independencia. Mientras caminas por este encantador e interesante
      pueblo, de museos y monumentos que narran la historia de México, déjate
      cautivar por este lugar lleno de tradiciones.
    </p>
    <p>
      En Dolores Hidalgo, cada rincón tiene una historia e innumerables
      leyendas; en las haciendas vecinas aún parece escucharse el murmullo
      conspiratorio de los insurgentes y en sus calles siempre suenan las
      canciones de su hijo pródigo: José Alfredo Jiménez.
    </p>

    <h2 class="title title--sub">Historia.</h2>

    <p>
      En algún momento antes de la llegada de los españoles se conocía como
      “Cocomán”: lugar donde se cazan las tórtolas. Los conquistadores dieron
      origen al pueblo que conocemos en 1710, con la construcción de la
      Parroquia de Nuestra Señora de los Dolores. En 1947, el Presidente
      Miguel Alemán lo denomina Dolores Hidalgo, Cuna de la Independencia
      Nacional.
    </p>
    Ubicado a 2,300 metros de altura, posee una <b>temperatura media de 25º C </b>, con
    pocas lluvias a fines del verano. Posee un clima semiárido. En sus tierras
    se cultivan uvas, chile verde, alfalfa y avena forrajera. La principal
    actividad ganadera es la cría de ganado ovino, por parte de servicios la
    principal actividad es el turismo.
    <p></p>

    <p>
      Dolores Hidalgo posee una cocina local rica, prueba los chiles de chorro o
      el mole de la región; obligados son los helados con sabores de queso,
      nopal, cerveza, aguacate, y tequila. Como recuerdo busca las hermosas
      artesanías locales de cerámica mayólica y alfarería; particularmente la
      cerámica en talavera.
    </p>

    <h3 class="title title--sub">Atractivos.</h3>
    <ul class="atractivos">
      <li>Casa de Abasolo.</li>
      <li>Casa-Museo José Alfredo Jiménez.</li>
      <li>Casa de Visitas.</li>
      <li>El Llanito.</li>
      <li>Hacienda del Rincón.</li>
      <li>Jardín Independencia.</li>
      <li>Monumento a Los Héroes de la Independencia.</li>
      <li>Museo del Bicentenario.</li>
      <li>Museo Casa de Hidalgo.</li>
      <li>Museo de la Independencia.</li>
      <li>Parroquia de Nuestra Señora de los Dolores.</li>
      <li>Plaza Principal.</li>
      <li>Ruta del Vino.</li>
      <li>Santuario de Atotonilco.</li>
      <li>Tranvía turístico.</li>
      <li>Viñedo y Bodega Cuna de Tierra.</li>
    </ul>
  </section>

  <h3 class="title title--events">Galería de los Principales Eventos y Celebraciones de la localidad.</h3>

  <section class="events">

    <div class="events__item">
      <p class="events__title">Día de la Independencia</p>
      <img src="./assets/img/grito.jpg" alt="" class="events__img">
    </div>

    <div class="events__item">
      <p class="events__title">Día de la Muertos </p>
      <img src="./assets/img/muertos.jpg" alt="" class="events__img">
    </div>

    <div class="events__item">
      <p class="events__title">Procesión del santísimo </p>
      <img src="./assets/img/vigilia.jpg" alt="" class="events__img">
    </div>

    <div class="events__item">
      <p class="events__title">Feria de las Nieves </p>
      <img src="./assets/img/feriaNieves.jpg" alt="" class="events__img">
    </div>

    <div class="events__item">
      <p class="events__title">Festival de José Alfredo Jiménez </p>
      <img src="./assets/img/joseAlfredo.jpg" alt="" class="events__img">
    </div>

    <div class="events__item">
      <p class="events__title">Charreada</p>
      <img src="./assets/img/charreada.jpg" alt="" class="events__img">
    </div>

    <div class="events__item">
      <p class="events__title">Navidad</p>
      <img src="./assets/img/navidad.jpg" alt="" class="events__img">
    </div>

  </section>
</main>
