.main {
    padding: 0 3em;
}

.title {
    display: inline-block;

    margin-top: 1.2em;
    margin-bottom: 0.8em;

    border-bottom: 3px solid rebeccapurple;
}

.title--sub {
    margin-bottom: 0.5em;
    border-bottom: 3px solid rgb(101, 147, 222);
}

.title--events {
    margin: 1em 0 2em;
    border-bottom: 3px solid rgb(115, 190, 92);
}


.atractivos{
    margin-bottom: 3em;
    columns: 3 250px;
}
.events {
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;

    columns: 3 350px;
    column-gap: 0.3em;

    &__item {
        position: relative;

        &:hover {
            p {
                display: none;
            }
        }
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 1.5rem;
        color: #fff;
        font-weight: bold;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__img {
        display: block;
        max-width: 100%;

        margin-bottom: 0.3em;

        border-radius: 5px;
    }
}
