<div class="title">
  <h1>Hostelería</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="table-responsive mt-4">
        <table class="table table-striped" id="lista">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Accesibilidad</th>
              <th>Tipología</th>
              <th>Costo</th>
              <th>Capacidad</th>
              <th>Servicios</th>
              <th>Imagen</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of hosteleria; let i = index">
              <td>{{ item.tipo_hs }}</td>
              <td>{{ item.nom_hs }}</td>
              <td>{{ item.descripcion_hs }}</td>
              <td>{{ item.accesibility_infrastr_hs }}</td>
              <td>{{ item.tipologia_hs }}</td>
              <td>{{ item.costo_hs }}</td>
              <td>{{ item.capacidad_hs }}</td>
              <td>{{ item.servicios }}</td>
              <td>{{ item.img_hs }}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-warning btn-rm" (click)="editHosteleria(item)">Editar</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteHosteleria(item.id_hosteleria)">Eliminar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4 ml-auto custom-col">
      <h2>Hostelería</h2>
      <form [formGroup]="hosteleriaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="tipo_hs">Tipo</label>
          <select class="form-control" id="tipo_hs" formControlName="tipo_hs">
            <option value="Restaurante">Restaurante</option>
            <option value="Hotel">Hotel</option>
          </select>
          <label for="nom_hs">Nombre</label>
          <input type="text" class="form-control" id="nom_hs" formControlName="nom_hs">
          <label for="descripcion_hs">Descripción</label>
          <input type="text" class="form-control" id="descripcion_hs" formControlName="descripcion_hs">
          <label for="accesibility_infrastr_hs">Accesibilidad</label>
          <input type="text" class="form-control" id="accesibility_infrastr_hs" formControlName="accesibility_infrastr_hs">
          <label for="tipologia_hs">Tipología</label>
          <input type="text" class="form-control" id="tipologia_hs" formControlName="tipologia_hs">
          <label for="costo_hs">Costo</label>
          <input type="number" class="form-control" id="costo_hs" formControlName="costo_hs">
          <label for="capacidad_hs">Capacidad</label>
          <input type="number" class="form-control" id="capacidad_hs" formControlName="capacidad_hs">
          <label for="servicios">Servicios</label>
          <input type="text" class="form-control" id="servicios" formControlName="servicios">
          <label for="img_hs">Imagen URL</label>
          <input type="text" class="form-control" id="img_hs" formControlName="img_hs">
        </div>
        <div class="row mt-3">
          <button type="submit" class="btn btn-success" *ngIf="!isEditing">Agregar</button>
          <button type="submit" class="btn btn-success" *ngIf="isEditing">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br><br>
