<div class="title">
  <h1>Guías</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="table-responsive mt-4">
        <table class="table table-striped" id="lista">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Calle</th>
              <th>Número de Calle</th>
              <th>Comunidad</th>
              <th>Categoría</th>
              <th>Teléfono</th>
              <th>Costo</th>
              <th>Email</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of guia; let i=index">
              <td>{{ item.nom_guia }}</td>
              <td>{{ item.apellido_guia }}</td>
              <td>{{ item.nomcalle_guia }}</td>
              <td>{{ item.numcalle_guia }}</td>
              <td>{{ item.comunidad_guia }}</td>
              <td>{{ item.categoria_guia }}</td>
              <td>{{ item.telefono_guia }}</td>
              <td>{{ item.costo_guia }}</td>
              <td>{{ item.email_guia }}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-warning btn-rm" (click)="editGuia(item)">Editar</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteGuia(item.id_guia)">Eliminar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4 ml-auto custom-col">
      <h2>Guía</h2>
      <form [formGroup]="guiaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nom_guia">Nombre</label>
          <input type="text" class="form-control" id="nom_guia" formControlName="nom_guia">
          <label for="apellido_guia">Apellidos</label>
          <input type="text" class="form-control" id="apellido_guia" formControlName="apellido_guia">
          <label for="nomcalle_guia">Calle</label>
          <input type="text" class="form-control" id="nomcalle_guia" formControlName="nomcalle_guia">
          <label for="numcalle_guia">Número de Calle</label>
          <input type="number" class="form-control" id="numcalle_guia" formControlName="numcalle_guia">
          <label for="comunidad_guia">Comunidad</label>
          <input type="text" class="form-control" id="comunidad_guia" formControlName="comunidad_guia">
          <label for="categoria_guia">Categoría</label>
          <input type="text" class="form-control" id="categoria_guia" formControlName="categoria_guia">
          <label for="telefono_guia">Teléfono</label>
          <input type="text" class="form-control" id="telefono_guia" formControlName="telefono_guia">
          <label for="costo_guia">Costo</label>
          <input type="number" class="form-control" id="costo_guia" formControlName="costo_guia">
          <label for="email_guia">Email</label>
          <input type="email" class="form-control" id="email_guia" formControlName="email_guia">
        </div>
        <div class="row mt-3">
          <button type="submit" class="btn btn-success" *ngIf="!isEditing">Agregar</button>
          <button type="submit" class="btn btn-success" *ngIf="isEditing">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br><br>
