<div class="title">
  <br>
  <h1 class="main-title">Paquetes preestablecidos</h1>
</div>

<div class="row">
  <div class="col-12 mb-4" *ngFor="let agencia of paquetesPorAgencia">
    <h2 class="title sub-title">{{agencia.nom_ag}}</h2>
    <hr>
    <div class="row">
      <div class="col-md-6 col-xl-4 mb-4 px-3" *ngFor="let paquete of agencia.paquetes">
        <div class="card paquete-card p-3">
          <img [src]="paquete.img_paquete" alt="{{ paquete.img_paquete }}" class="card-img-top">
          <div class="card-header bg-primary ">
            <h2 class="card-title">{{paquete.nom_paquete}}</h2>
          </div>
          <div class="card-body paquete-card-body">
            <h3 class="card-subtitle mb-2 text-muted">Información del paquete</h3>
            <p><strong>Nombre:</strong> {{paquete.nom_paquete}}</p>
            <p><strong>Costo:</strong> {{paquete.costo_paquete | currency}}</p>

            <button class="btn btn-secondary" (click)="togglePaquete(agencia.id_agencia, paquete.id_paquete)">
              Más Información
            </button>
            <button class="btn btn-primary mt-3" (click)="obtenerPaquete(agencia.id_agencia, paquete.id_paquete)">
              Obtener Paquete
            </button>

            <!-- Collapsible Section -->
            <div [id]="'collapse-' + agencia.id_agencia + '-' + paquete.id_paquete" class="collapse mt-3"
              [class.show]="isPaqueteOpen(agencia.id_agencia, paquete.id_paquete)">
              <h3 class="mt-4">Servicios con actividades</h3>
              <div *ngFor="let servicio of paquete.servicios">
                <div *ngIf="servicio.actividades && servicio.actividades.length > 0">
                  <h4 class="mt-3">{{servicio.tipo_servicio}}</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Fecha</th>
                          <th>Hora</th>
                          <th>Descripción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let actividad of servicio.actividades">
                          <td>{{actividad.fecha_actividad | date:'dd/MM/yyyy'}}</td>
                          <td>{{actividad.hora_actividad | customTime}}</td>
                          <td>{{actividad.descripcion_actividad}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div *ngIf="showPayPalButton[agencia.id_agencia + '_' + paquete.id_paquete]"
                [id]="'paypal-button-container-' + agencia.id_agencia + '_' + paquete.id_paquete">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<br>
<div>
  <h2 class="sub-title">Contactanos!</h2>
</div>

<!-- Paquetes -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Paquete 1 -->
    <div class="col">
      <div class="card h-100 fondo letras">
        <h3 class="color--white mb-5 grandet">Turismo Gilca!</h3>
        <ul class="contact-info__list list-style--none position-relative z-index-101">
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-envelope"></i></span>
            <a href="https://www.facebook.com/tgilca">Facebook</a>
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-phone"></i></span> (418)-182-2986
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-phone"></i></span> (418)-184-5804
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-map-marker-alt"></i></span> Yucatán 20 centro
            <br> Dolores Hidalgo, CIN, Gto
            <br>
            <div class="mt-3">
              <a href="https://www.google.com/maps" target="blank" class="text-link link--right-icon text-white">Obtener
                direcciones <i class="link_icon fa fa-directions"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Paquete 2 -->
    <div class="col">
      <div class="card h-100 fondo letras">
        <h3 class="color--white mb-5 grandet">Corporativo Viajero!</h3>
        <ul class="contact-info__list list-style--none position-relative z-index-101">
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-envelope"></i></span> eskapatecorporativo&#64;hotmail.com
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-envelope"></i></span>
            <a href="https://www.facebook.com/tgilca">Facebook</a>
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-phone"></i></span> (444)-317-2663
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-map-marker-alt"></i></span> coronel romero 2100
            instalaciones de CANACO.
            <br> San Luis potosi, S.L.P
            <div class="mt-3">
              <a href="https://www.google.com/maps" target="blank" class="text-link link--right-icon text-white">Obtener
                direcciones <i class="link_icon fa fa-directions"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Paquete 3 -->
    <div class="col">
      <div class="card h-100 fondo letras">
        <h3 class="color--white mb-5 grandet">Dromomanía Experience!</h3>
        <ul class="contact-info__list list-style--none position-relative z-index-101">
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-envelope"></i></span>
            dromomania.experience&#64;gmail.com
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-envelope"></i></span>
            <a href="https://www.facebook.com/p/Dromomania-Experience-100063453166358/">Facebook</a>
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-phone"></i></span> 418 137 1446
          </li>
        </ul>
      </div>
    </div>

     <!-- Paquete 4 -->
     <div class="col">
      <div class="card h-100 fondo letras">
        <h3 class="color--white mb-5 grandet">Viajes con Encanto!</h3>
        <ul class="contact-info__list list-style--none position-relative z-index-101">
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-envelope"></i></span>
            viajesconencanto&#64;gmail.com
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-phone"></i></span> (418)-101-1015
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-map-marker-alt"></i></span> San Luis Potosí 13, Zona centro
            <br> Dolores Hidalgo, CIN. Gto.
            <div class="mt-3">
              <a href="https://maps.app.goo.gl/gM7obvo9J8QeXvcx7" target="blank" class="text-link link--right-icon text-white">Obtener
                direcciones <i class="link_icon fa fa-directions"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </div>

     <!-- Paquete 6 -->
     <div class="col">
      <div class="card h-100 fondo letras">
        <h3 class="color--white mb-5 grandet">Amor en ruta!</h3>
        <ul class="contact-info__list list-style--none position-relative z-index-101">
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-envelope"></i></span>
            amorenrutadh&#64;gmail.com
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-phone"></i></span> (418)-139-4746
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-map-marker-alt"></i></span>Av. Norte #16 entre Aguascalientes y Baja California Norte
            <br> Dolores Hidalgo, CIN. Gto.
            <div class="mt-3">
              <a href="https://maps.app.goo.gl/qZ4rdbKxm344Mpva9" target="blank" class="text-link link--right-icon text-white">Obtener
                direcciones <i class="link_icon fa fa-directions"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
<br><br>
