/* General Body Styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

/* Header Styling */
header {
  width: 100%;
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  // animation: colorChange 5s linear infinite;
}

/* Navigation Menu Link Styling */
.nav_menu_link {
  margin: 0 20px;
  text-decoration: none;
  color: #ffc107;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav_menu_link:hover {
  color: #ffd54f;
}

/* Container Styling */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Restaurants Section */
.restaurants {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

/* Restaurant Card Styling */
.restaurant {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.restaurant:hover {
  transform: rotate(2deg) translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.restaurant h2 {
  margin: 0 0 15px;
  font-size: 24px;
  color: #007BFF;
  font-weight: 500;
  // animation: colorChange 5s linear infinite;
}

.restaurant img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.restaurant img:hover {
  transform: scale(1.05);
}

.restaurant p {
  margin: 0;
  font-size: 16px;
  color: #6c757d;
  line-height: 1.5;
  // animation: colorChange 5s linear infinite;
}

.restaurant p span {
  font-weight: 600;
  color: #343a40;
}

/* Map Section */
.map {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.map img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

/* Additional Styling */
.contenedor-padre {
  margin-bottom: 2em;
}

hr {
  border: 2px solid royalblue;
  width: 85%;
  margin: 0 auto;
}

/* Main Title and Subtitles */
.title {
  display: flex;
  justify-content: center;

  h1 {
    font-size: 5vw;
    display: inline-block;
    margin: 2em 0 1.2em;
    padding: 0.5em;
    color: #000;
    border-radius: 15px;
    font-weight: bold;
    margin: 1rem 0;
    background: linear-gradient(135deg, #2c0d0a, #ba3d31, #a06151);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

@media (max-width: 768px) {
  h1 {
      font-size: 20px; /* Para tablets */
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 16px; /* Para móviles */
  }
}

.card {
  background-color: #ffffff;
  color: #000000;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.05);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.card-title {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  // animation: colorChange 5s linear infinite;
}

.card-text {
  font-size: 15px;
  margin-bottom: 10px;
  // animation: colorChange 5s linear infinite;
}

/* Button Styles */
.btn-primary, .btn-secondary, .btn-tercero {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-primary {
  background-color: #000000;
  color: #fff;
}

.btn-secondary {
  background-color: #000000;
}

.btn-tercero {
  background-color: #000000;
  padding: 3px 25px;
}

.btn-primary:hover, .btn-secondary:hover, .btn-tercero:hover {
  transform: scale(1.05);
  background-color: #333333;
}

.btn-tercero a {
  color: #fff;
  text-decoration: none;
}

/* Modal Description */
.modal-description {
  text-align: center;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-description.show {
  opacity: 1;
  transform: scale(1);
}

/* Table Styling */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table caption {
  caption-side: top;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  padding: 10px 0;
}

.table th, .table td {
  border: 1px solid #000000;
  padding: 8px;
}

.table th {
  background-color: #c5c5c5;
  color: black;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #000000;
  color: #fff;
}

.table tbody tr th {
  background-color: #ffffff;
}

.table tbody tr:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

/* Gradient Brand Color */
.gradient-brand-color {
  background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
  background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
  color: #fff;
  animation: gradientAnimation 5s ease infinite;
}

/* Contact Info Wrapper */
.contact-info__wrapper {
  overflow: hidden;
  border-radius: 0.625rem 0.625rem 0 0;
}

@media (min-width: 1024px) {
  .contact-info__wrapper {
    border-radius: 0 0.625rem 0.625rem 0;
    padding: 5rem !important;
  }
}

.contact-info__list span.position-absolute {
  left: 0;
}

/* Contact Wrapper */
.contact__wrapper {
  background-color: #000000;
  border-radius: 0 0 0.625rem 0.625rem;
}

@media (min-width: 1024px) {
  .contact__wrapper {
    border-radius: 0.625rem 0 0.625rem 0.625rem;
  }
}

/* Contact Form Wrapper */
@media (min-width: 1024px) {
  .contact-form__wrapper {
    padding: 5rem !important;
  }
}

/* Shadow Effects */
.shadow-lg, .shadow-lg--on-hover:hover {
  box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}

/* Additional Styling */
.fondo {
  background-image: linear-gradient(rgb(93, 141, 238), rgb(110, 108, 187)70%);
  padding: 4pc;
}

.letras {
  color: rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.grandet {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: #000000;
  font-size: 2rem;
  // animation: colorChange 5s linear infinite;
  text-align: center;
}

a {
  color: #ffffff;
  transition: color 0.3s ease;
}

a:visited {
  color: rgb(164, 170, 255);
}

a:hover {
  color: #ffd54f;
}

/* Animations */
@keyframes colorChange {
  0% { color: #007BFF; }
  25% { color: #FF5722; }
  50% { color: #4CAF50; }
  75% { color: #FFC107; }
  100% { color: #007BFF; }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes textAnimation {
  0% {
    color: #000000;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #000000;
  }
}
@media (min-width: 1024px) {
  .contact-form__wrapper {
      padding: 5rem !important
  }
}
.shadow-lg, .shadow-lg--on-hover:hover {
  box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}



.paypal-button-container {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 400px;
  text-align: center;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

@keyframes gradientAnimation {
  0% { background-color: #376be6; }
  50% { background-color: #6470ef; }
  100% { background-color: #376be6; }
}

.container-fluid {
  padding: 0;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.card-custom {
  max-width: 800px;
  width: 100%;
  transition: max-height 0.3s ease;
}

.additional-info {
  margin-top: 1rem;
}

.card-custom.expanded {
  max-height: 800px; /* Ajusta según sea necesario */
}

.img-container {
  display: flex; /* Center the image horizontally if needed */
}

.img-fluid {
  width: 100%; /* Adjust as needed */
  max-width: 150px; /* Set a maximum width */
}



.paquete-card {
  margin-right: 10px; /* Ajusta el valor según lo que necesites */
  margin-left: 10px; /* También puedes ajustar el margen izquierdo */

}

.sub-title {
  font-size: 2em;
  color: #000000;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  // animation: colorChange 5s linear infinite;
}

