<div class="accordion" id="accordionExample">

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHoteles"
        aria-expanded="false" aria-controls="collapseHoteles">
        Hoteles
      </button>
    </h2>
    <div id="collapseHoteles" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="hotel" *ngFor="let hotel of hoteles">
          <h2>{{ hotel.nom_hs }}</h2>
          <p><strong>Nombre:</strong> {{ hotel.nom_hs }}</p>
          <p><strong>Capacidad:</strong> {{ hotel.capacidad_hs }}</p>
          <p><strong>Descripción:</strong> {{ hotel.descripcion_hs }}</p>
          <p><strong>Costo:</strong> {{ hotel.costo_hs }}</p>
          <p><strong>Servicios:</strong> {{ hotel.servicios }}</p>
          <p><strong>Tipología:</strong> {{ hotel.tipologia_hs }}</p>
          <button type="button" class="select-btn" (click)="selectItem(hotel, 'Hosteleria')">Seleccionar</button>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRestaurantes"
        aria-expanded="false" aria-controls="collapseRestaurantes">
        Restaurantes
      </button>
    </h2>
    <div id="collapseRestaurantes" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="restaurante" *ngFor="let restaurante of restaurantes">
          <h2>{{ restaurante.nom_hs }}</h2>
          <p><strong>Nombre:</strong> {{ restaurante.nom_hs }}</p>
          <p><strong>Capacidad:</strong> {{ restaurante.capacidad_hs }}</p>
          <p><strong>Descripción:</strong> {{ restaurante.descripcion_hs }}</p>
          <p><strong>Costo:</strong> {{ restaurante.costo_hs }}</p>
          <p><strong>Servicios:</strong> {{ restaurante.servicios }}</p>
          <p><strong>Tipología:</strong> {{ restaurante.tipologia_hs }}</p>
          <button type="button" class="select-btn" (click)="selectItem(restaurante, 'Hosteleria')">Seleccionar</button>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        Guias
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="hotel" *ngFor="let guia of guias">
          <h2>{{ guia.nom_guia }}</h2>
          <p><strong>Nombre:</strong> {{ guia.nom_guia }}</p>
          <p><strong>Apellidos:</strong> {{ guia.apellido_guia }}</p>
          <p><strong>Costo:</strong> {{  guia.costo_guia }}</p>
          <p><strong>Categoria:</strong> {{ guia.categoria_guia }}</p>
          <p><strong>Comunidad:</strong> {{ guia.comunidad_guia }}</p>
          <p><strong>Telefono:</strong> {{ guia.telefono_guia }}</p>
          <p><strong>Email:</strong> {{ guia.email_guia }}</p>
          <button type="button" class="select-btn" (click)="selectItem(guia, 'Guia')">Seleccionar</button>
          <hr>
      </div>
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        Transportistas
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="hotel" *ngFor="let transportista of transportistas">
          <h2>{{ transportista.nom_trans }}</h2>
          <p><strong>Nombre:</strong> {{ transportista.nom_trans }}</p>
          <p><strong>Apellidos:</strong> {{ transportista.apellidos_trans }}</p>
          <p><strong>Tarifa:</strong> {{ transportista.tarifa_trans }}</p>
          <p><strong>Alcance:</strong> {{ transportista.alcance_trans }}</p>
          <p><strong>Servicios:</strong> {{ transportista.servicios_trans }}</p>
          <p><strong>Telefono:</strong> {{ transportista.tel_trans }}</p>
          <p><strong>Email:</strong> {{ transportista.email_trans }}</p>
          <button type="button" class="select-btn" (click)="selectItem(transportista, 'Transportista')">Seleccionar</button>
          <hr>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
        aria-expanded="false" aria-controls="collapseFour">
        Museos
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="museo" *ngFor="let museo of museos">
          <h2>{{ museo.nom_actur }}</h2>
          <p><strong>Nombre:</strong> {{ museo.nom_actur }}</p>
          <p><strong>Descripción:</strong> {{ museo.descripcion_actur }}</p>
          <p><strong>Costo:</strong> {{ museo.costo_actur }}</p>
          <p><strong>Servicios:</strong> {{ museo.servicios_actur }}</p>
          <p><strong>Tipología:</strong> {{ museo.tipologia_actur }}</p>
          <button type="button" class="select-btn" (click)="selectItem(museo, 'AtracTuristico')">Seleccionar</button>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
        aria-expanded="false" aria-controls="collapseFive">
        Viñedos
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="vinedo" *ngFor="let vinedo of vinedos">
          <h2>{{ vinedo.nom_actur }}</h2>
          <p><strong>Nombre:</strong> {{ vinedo.nom_actur }}</p>
          <p><strong>Descripción:</strong> {{ vinedo.descripcion_actur }}</p>
          <p><strong>Costo:</strong> {{ vinedo.costo_actur }}</p>
          <p><strong>Servicios:</strong> {{ vinedo.servicios_actur }}</p>
          <p><strong>Tipología:</strong> {{ vinedo.tipologia_actur }}</p>
          <button type="button" class="select-btn" (click)="selectItem(vinedo, 'AtracTuristico')">Seleccionar</button>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
        aria-expanded="false" aria-controls="collapseSix">
        Lugares Turísticos
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="lugar-turistico" *ngFor="let lugar of lugaresTuristicos">
          <h2>{{ lugar.nom_actur }}</h2>
          <p><strong>Nombre:</strong> {{ lugar.nom_actur }}</p>
          <p><strong>Descripción:</strong> {{ lugar.descripcion_actur }}</p>
          <p><strong>Costo:</strong> {{ lugar.costo_actur }}</p>
          <p><strong>Servicios:</strong> {{ lugar.servicios_actur }}</p>
          <p><strong>Tipología:</strong> {{ lugar.tipologia_actur }}</p>
          <button type="button" class="select-btn" (click)="selectItem(lugar, 'AtracTuristico')">Seleccionar</button>
          <hr>
        </div>
      </div>
    </div>
  </div>

</div>