<div class="body-container">
  <div class="content">
    <h2>Crea tu paquete</h2>
    <form [formGroup]="consultaForm" (ngSubmit)="enviarConsulta()">

      <!-- Selección de agencia -->
      <div class="form-group">
        <label for="nom_agencia">Agencia</label>
        <select id="nom_agencia" formControlName="nom_agencia" required>
          <option value="" disabled>Seleccione una opción</option>
          <option *ngFor="let agencia of agencias" [value]="agencia.nom_ag">{{ agencia.nom_ag }}</option>
        </select>
        <div *ngIf="consultaForm.get('nom_agencia')?.invalid && consultaForm.get('nom_agencia')?.touched" class="error-message">
        </div>
      </div>

      <!-- Fechas -->
      <div class="form-group">
        <label for="llegada_cons">Llegada</label>
        <div class="input-icon">
          <input type="date" id="llegada_cons" formControlName="llegada_cons" required />
          <i class="fa fa-calendar-alt"></i>
        </div>
      </div>
      <div class="form-group">
        <label for="salida_cons">Salida</label>
        <div class="input-icon">
          <input type="date" id="salida_cons" formControlName="salida_cons" required />
          <i class="fa fa-calendar-alt"></i>
        </div>
      </div>

      <!-- Adultos y niños -->
      <div class="form-group">
        <div class="half-width">
          <label for="adults_18_36">Adultos 18 a 36</label>
          <input type="number" id="adults_18_36" formControlName="adults_18_36" required min="0"/>
        </div>
        <div class="half-width">
          <label for="adults_37_64">Adultos 37 a 64</label>
          <input type="number" id="adults_37_64" formControlName="adults_37_64" required min="0"/>
        </div>
      </div>
      <div class="form-group">
        <div class="half-width">
          <label for="ninos_0_8">Niños 0 a 8</label>
          <input type="number" id="ninos_0_8" formControlName="ninos_0_8" required min="0"/>
        </div>
        <div class="half-width">
          <label for="ninos_9_17">Niños 9 a 17</label>
          <input type="number" id="ninos_9_17" formControlName="ninos_9_17" required min="0"/>
        </div>
      </div>

      <!-- Detalles adicionales -->
      <div class="form-row">
        <div class="form-group">
          <label for="travel_with">Con quien viaja</label>
          <select id="travel_with" formControlName="travel_with" required>
            <option value="">Selecciona una opción</option>
            <option value="Solo">Solo</option>
            <option value="Con familia">Con Familia</option>
            <option value="Con pareja">Con pareja</option>
          </select>
        </div>
        <div class="form-group">
          <label for="budget">Tu presupuesto</label>
          <select id="budget" formControlName="budget" required>
            <option value="">Selecciona una opción</option>
            <option value="$4000 - $6000">$4000 - $6000</option>
            <option value="$6000 - $8000">$6000 - $8000</option>
            <option value="$8000 - $10000">$8000 - $10000</option>
            <option value="$10000 - $14000">$10000 - $14000</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="actividades">¿Qué tipo de actividades te gustan?</label>
        <input type="text" id="actividades" formControlName="actividades">
      </div>

      <div class="form-group">
        <label for="lugar_deseado">¿Hay algún lugar o fecha en específico que desees visitar?</label>
        <input type="text" id="lugar_deseado" formControlName="lugar_deseado">
      </div>

      <!-- Selección de hoteles -->
      <div class="form-group">
        <label for="hotel">Selecciona tu hotel</label>
        <select id="hotel" formControlName="hotel" required>
          <option value="" disabled>Seleccione una opción</option>
          <option *ngFor="let hotel of hoteles" [value]="hotel.nom_hs">{{ hotel.nom_hs }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="restaurante">Selecciona tu restaurante</label>
        <select id="restaurante" formControlName="restaurante" required>
          <option value="" disabled>Seleccione una opción</option>
          <option *ngFor="let restaurante of restaurantes" [value]="restaurante.nom_hs">{{ restaurante.nom_hs }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="experiencia">Selecciona tu experiencia</label>
        <select id="experiencia" formControlName="experiencia" required>
          <option value="" disabled>Seleccione una opción</option>
          <option *ngFor="let experiencia of experiencias" [value]="experiencia.nom_actur">{{ experiencia.nom_actur }}</option>
        </select>
      </div>


      <!-- Botones -->
      <div class="form-actions">
        <button type="button" (click)="router.navigate(['/parte5'])">ATRÁS</button>
        <button type="submit">Siguiente</button>
      </div>

    </form>
  </div>

  <div class="img-container">
    <img src="https://www.mexicodesconocido.com.mx/wp-content/uploads/2020/08/95095cd263c9d7c5c20a7b6ba9cfe6fc.jpg" alt="Imagen de fondo" />
  </div>
</div>
